<article class="backgroundRegister">
  <div class="register">
    <h2 class="text-center p-1">Change Password</h2>
    <form
      class="row g-3 formRegister p-2"
      action="/api/session//change-of-password"
      method="post"
    >
      <div class="col-md-12">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="col-md-12">
        <label for="exampleInputPassword1" class="form-label">Verify Password</label>
        <input
          name="verifyPassword"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="buttons col-md-12">
        <button type="submit" class="btn btn-success">Create user</button>
      </div>
    </form>
  </div>
</article>