<article class="backgroundLogin">
  <div class="login">
    <h3 class="text-center">Log In</h3>
     <form id="formLogin">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="My email"
        />
      </div>
      <div class="mb-4">
        <label for="inputPassword5" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          name="password"
          id="inputPassword5"
          class="form-control"
          placeholder="My password"
        />
      </div>
      <div class="mb-4 text-center">
        <a href="/login/recover-password" onclick="sendMail">
          Recover password
        </a>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary col m-1">Log in</button>
                <li class="page-item btn btn-dark col m-1" style="color:white">
          <a class="page-link" href="/api/session/github">Log in
            <img
              src="https://img.icons8.com/?size=512&id=12599&format=png"
              style="height:23px"
            />
          </a>
        </li>
          <li class="page-item btn btn-success col m-1" style="color:white"></li>
          <a class="page-link" href="/register"> Create user </a>
        </li>
      </div>
    </form>
  </div>
</article>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/javascript/login.js"></script>