<style>
  body { background-color: #6a93ec; } .a2 { color: #333; } .a2:hover { color:
  #000; } .user-info {text-align: center;}
</style>

<h1 class="user-info">PERFIL DE USUARIO {{login_type}}</h1>

<h2 class="user-info">Usuario: {{user.firstName}}, {{user.lastName}}</h2>
<h3 class="user-info">Rol: {{user.role}}</h3>

<form action="/api/sessions/logout" method="get">
  <button type="submit" class="btn btn-success">Salir</button>
</form>