<article class="backgroundLogin">
  <div class="login">
    <h3 class="text-center">Recover Password</h3>
    <form id="formCookie" action="/api/session/recover-password" method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input
          name="email"
          type="email"
          class="form-control"
          id="emailIUser"
          placeholder="My email"
        />
      </div>
      <div class="mb-4 text-center">
        <button id="sendEmail" type="submit" class="btn btn-primary">Send email</button>
      </div>
    </form>
  </div>
</article>