<style>

  .register-container { max-width: 360px; margin: auto; margin-top: 64px;
  padding: 32px; border-radius: 0.5em; color: #333; border: 1px solid #bbb;
  background-color: #ccc; } .btn-100 { width: 100%; margin-bottom: 0.5em; } .a2
  { color: #333; } .a2:hover { color: #000; }
</style>

<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.8/dist/sweetalert2.all.min.js"
></script>

<div class="register-container">
  <h1 class="text-center"><img
      src="../public/img/LogoSTAY.png"
      alt="Logo"
      width="80"
      height="80"
    /></h1>
  <h1 class="text-center"><b>STAY</b></h1>
  <h2><b>Registro</b></h2>
  <form id="registerUserForm" style="margin-top: 32px;">
    <div class="input-group" style="width: 100%; margin-bottom: 8px;">
      <span class="input-group-text" id="group1"><i
          class="fa-solid fa-user"
        ></i></span>
      <input
        type="text"
        id="firstName"
        name="firstName"
        class="form-control"
        placeholder="Nombre"
        required="required"
        autocomplete="nombre"
        autofocus="autofocus"
      />
    </div>

    <div class="input-group" style="width: 100%; margin-bottom: 8px;">
      <span class="input-group-text" id="group2"><i
          class="fa-solid fa-user"
        ></i></span>
      <input
        type="text"
        id="lastName"
        name="lastName"
        class="form-control"
        placeholder="Apellido"
        required="required"
        autocomplete="apellido"
      />
    </div>

    <div class="input-group" style="width: 100%; margin-bottom: 8px;">
      <span class="input-group-text" id="group3"><i
          class="fa-solid fa-envelope"
        ></i></span>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Email"
        required="required"
        autocomplete="email"
      />
    </div>

    <div class="input-group" style="width: 100%; margin-bottom: 8px;">
      <span class="input-group-text" id="group4"><i
          class="fa-solid fa-venus-mars"
        ></i></span>
      <input
        type="number"
        id="age"
        name="age"
        class="form-control"
        placeholder="Edad"
        required="required"
        autocomplete="age"
      />
    </div>

    <div class="input-group" style="width: 100%; margin-bottom: 32px;">
      <span class="input-group-text" id="group5"><i
          class="fa-solid fa-lock"
        ></i></span>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required="required"
        placeholder="Password"
        autocomplete="password"
      />
    </div>

    <button type="submit" class="btn btn-success btn-100">Registrarse</button>

    {{#if msg}}
      <div style="margin-top: 24px;">
        <div class="alert alert-danger" role="alert">{{msg}}</div>
      </div>
    {{/if}}

    <div style="margin-top: 24px;">
      Ya tenés cuenta?:
      <a class="a2" href="/login">Ingresá</a>
    </div>
  </form>
</div>

<script type="module">

  registerUserForm.addEventListener('submit', async (evt) => {
  evt.preventDefault(); const firstName =
  document.getElementById('firstName').value; const lastName =
  document.getElementById('lastName').value; const email =
  document.getElementById('email').value; const age =
  document.getElementById('age').value; const password =
  document.getElementById('password').value; try { const process = await
  fetch(`/api/users`, { method: 'POST', headers: { 'Content-Type':
  'application/json' }, body: JSON.stringify({ firstName, lastName, email, age,
  password }) }); const result = await process.json(); console.log(process); if
  (process.ok) { Swal.fire({ title: 'Usuario registrado', text: result.mensaje,
  icon: 'success', confirmButtonText: 'OK' }).then(() => {
  registerUserForm.reset(); window.location.href = '/login'; }); } else {
  Swal.fire({ title: 'Error', text: result.error, icon: 'error',
  confirmButtonText: 'OK' }); } } catch (error) { Swal.fire({ title: 'Error',
  text: 'Hubo un problema al registrar el usuario.', icon: 'error',
  confirmButtonText: 'OK' }); } });

</script>