<article class="backgroundUpload">
  <div class="formData">
    <h2 class="text-center p-1">Upload Documents</h2>
    <form
      class="row g-3 formRegister p-2"
      action="/api/users/:uid/documents"
      method="post"
    >
      <div class="col-md-12">
        <label class="form-label" for="inputGroupFile01">Identity</label>
        <input
          name="identity"
          type="file"
          class="form-control"
          id="inputGroupFile01"
        />
      </div>
      <div class="col-md-12">
        <label class="form-label" for="inputGroupFile01">My address</label>
        <input
          name="myAddress"
          type="file"
          class="form-control"
          id="inputGroupFile01"
        />
      </div>
      <div class="col-md-12">
        <label class="form-label" for="inputGroupFile01">Statement of account</label>
        <input
          name="myAccount"
          type="file"
          class="form-control"
          id="inputGroupFile01"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label" for="inputGroupFile01">Profile picture</label>
        <input
          name="profile"
          type="file"
          class="form-control"
          id="inputGroupFile01"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label" for="inputGroupFile01">Product photo</label>
        <input
          name="product"
          type="file"
          class="form-control"
          id="inputGroupFile01"
        />
      </div>
      <div class="buttons col-md-12">
        <button type="submit" class="btn btn-success">Upload Documents</button>
      </div>
    </form>
  </div>
</article>