* {
  font-family: "Barlow Condensed", sans-serif;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
}

.card {
  box-shadow: 0 20px 30px -14px rgba(0, 0, 0, 0.25);
}
