* {
  font-family: "Barlow Condensed", sans-serif;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
}

.card {
  box-shadow: 0 20px 30px -14px rgba(0, 0, 0, 0.25);
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: flex-end;
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: flex-end;
}

.boxItem {
  display: flex;
  justify-content: space-between;
}

.btnDelete {
  height: 26px;
  width: 60px;
  background-color: rgb(219, 62, 62);
  border: rgb(221, 38, 38);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btnDelete:hover {
  background-color: rgb(27, 27, 27);
  color: rgb(219, 62, 62);
  border: black;
  transition: 0.4s;
}
